.todo-content{
  display: flex;
  justify-content: center;
}
.to-do{
    color: crimson;
}


* {
    box-sizing: border-box;
  }
  
  form.to-do input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.to-do button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.to-do button:hover {
    background: #0b7dda;
  }
  
  form.to-do::after {
    content: "";
    clear: both;
    display: table;
  }
